*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

form{
    width: 90%;
    max-width: 600px;
}

.for-form{
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputs{
    margin-bottom: 30px;
    position: relative;
}

input, textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid lightgray;
    font-size: 15px;
    outline: 0;
    color: black;
}

label{
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    cursor: text;
    transition: 0.2s;
}

button{
    padding: 10px;
    outline: 0;
    border: 1px solid lightgray;
    width: 100%;
    cursor: pointer;
}

input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label{
    top: -35px;
    font-size: 14px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row .inputs{
    flex-basis: 48%;
}